@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background-color: hsl(230, 17%, 14%);
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

input[type=range] {
    appearance: none;
    border-radius: 25px;
    padding: 5px;
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #000;
    border-radius: 50%;
}

img {
    position: relative;
    top: 6px;
    width: 25px;
    height: 25px;
}

.top-background {
    background-color: hsl(232, 19%, 15%);
    height: 225px;
    width: -webkit-fill-available;
    z-index: -1;
    position: absolute;
}

.row-1-description,
.row-2-description {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 100px 100px;
    place-items: center;
    position: relative;
    left: 6px;
}

.row-1-description>img,
.row-2-description>img {
    position: relative;
    top: 0px;
}

.main-dashboard {
    display: grid;
    grid-gap: 35px;
    place-items: center;
}

.dashboard-details {
    display: grid;
    grid-template-columns: 600px 500px;
    justify-items: flex-start;
}

.overview-1 {
    display: grid;
    grid-template-columns: repeat(4, 225px);
}

.overview-2 {
    display: grid;
    grid-gap: 10px;
}

.row-1,
.row-2 {
    display: grid;
    grid-template-columns: repeat(4, 225px);
}

.col-1,
.col-2,
.col-3,
.col-4 {
    display: grid;
    place-content: center;
    width: 250px;
    height: 200px;
    background-color: hsl(228, 28%, 20%);
    border-radius: 5%;
    padding: 8px;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}

.col-1:hover,
.col-2:hover,
.col-3:hover,
.row-1>.col-1:hover,
.row-1>.col-3:hover,
.row-1>.col-4:hover,
.row-2>.col-1:hover,
.row-2>.col-2:hover {
    background-color: hsla(93, 87%, 64%, 0.445);
}

.col-4:hover,
.row-1>.col-2:hover,
.row-2>.col-3:hover,
.row-2>.col-4:hover {
    background-color: hsla(19, 80%, 56%, 0.459);
}

.toggle {
    color: hsl(228, 34%, 66%);
    justify-self: end;
    align-self: end;
    display: grid;
    grid-template-columns: 92px 10px;
    align-items: center;
}

.main-heading {
    margin-block-end: 0;
    font-weight: 700;
}

.overview-1,
.row-1,
.row-2 {
    text-align: center;
    grid-gap: 72px;
}

.total-followers {
    color: hsl(228, 34%, 66%);
    margin-block-start: 0;
    margin-block-end: 0;
}

.slider {
    width: 50px;
    height: 20px;
    background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.overview-heading {
    margin-block-start: 0.5em;
    margin-block-end: 0;
}

.username {
    color: hsl(228, 34%, 66%);
    font-size: 15px;
    margin-block-end: 1.2rem;
}

.followers-count {
    font-size: 50px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.followers-label {
    color: hsl(228, 34%, 66%);
    margin-block-start: 0;
    margin-block-end: 0;
    letter-spacing: 6px;
    font-size: 10px;
    font-weight: 400;
}

.row-label {
    color: hsl(228, 34%, 66%);
    font-size: 14px;
}

.followers-today {
    font-size: 12px;
    color: #7FC8A9;
    margin-block-start: 1.8em;
}

.col-4>.followers-today {
    color: #FF2626;
}

.today-count {
    font-size: 40px;
}

.row-1>.col-1,
.row-1>.col-2,
.row-1>.col-3,
.row-1>.col-4,
.row-2>.col-1,
.row-2>.col-2,
.row-2>.col-3,
.row-2>.col-4 {
    height: 150px;
}

.page-views-fb,
.page-likes-insta,
.profile-views-insta,
.page-retweets-twitter,
.page-likes-twitter {
    color: #7FC8A9;
    font-size: 12px;
}

.page-likes-fb,
.page-views-youtube,
.page-likes-youtube {
    color: #FF2626;
    font-size: 12px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

color: hsl(228, 45%, 44%);
}

color: hsl(228, 45%, 44%);
}